<html>

<head>
	<title> Pagina Principal </title>
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/index_styles.css')}}">
</head>

<body>
	<h3> Menu de documentos </h3>
	
	<a href="/add">Agregar</a>
		
		<div id='div01'>
			<table>
				<tr>
						<td><b>Nombre</b></td>
						<td><b>Autor</b></td>
						<td><b>Fecha</b></td>
						<td><b>Archivo</b></td>
				</tr>
				{% for documentos in cursor %}
				<tr>
						<td>{{documentos['nombreDoc']}}</td>
						<td>{{documentos['autor']}}</td>
						<td>{{documentos['fecha']}}</td>
						<td>{{documentos['nombredoc']}}</td>
				</tr>
				{% endfor %}
			</table>
		</div>
</body>

<footer>

</footer>

</html>
